nav {
  border: solid 2px red;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

li {
  border: solid 2px green;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  flex-grow: 1;
  flex-shrink: 1;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 4px solid crimson;
}

@media (min-width: 750px) {
  .columns {
    flex-direction: row;
  }
}

.columns > * {
  /* flex-shrink: 1; */
  flex: 1;
}

.card {
  padding: 1rem;
  background-color: greenyellow;
}

/* flex-grow default value 0 */
/* flex-shrink defaul value 1 */
/* flex-basis default value auto */
/* both will be apply on child element */
/* flex:1 => contain three value it's shorhand flex-grow:1, flex-shrink:1, flex-basis:0*/
/* flex-direction default value is row */
/* flex-direction:row main axis X and cross axis Y flex-direction:column main axis is Y and cross axis X */